header
  nav
    if userEmail
      ul.nav.nav-pills
        li.nav-item
          a.nav-link(href='./logout') Sign Out
    else
      ul.nav.nav-pills
        li.nav-item
          a.nav-link(href='./signup') Sign Up
        li.nav-item
          a.nav-link(href='./login') Login
